<div class="row">
    <div class="twelve columns">

        <!-- Formulario de busqueda de productos-->
        <div class="seven columns">
            <search-bar button-search-selected="$ctrl.searchProducts(datos)"
                        button-reset-selected="$ctrl.defaultSearch()"></search-bar>
        </div>

        <!-- Product List -->
        <table class="u-full-width">
            <tbody>
            <tr>
                <td>
                    <div>
                        <label for="total">Total Results: </label>
                        <div id="total" align="left"
                             ng-if="($ctrl.productList.length > 0 && $ctrl.finish == 1)">{{ $ctrl.total }}</div>
                    </div>
                    <div>
                        <label ng-if="($ctrl.productList.length == 0 && $ctrl.finish == 1)">No results for the incoming search</label>
                    </div>

                    <div class="u-full-width" ng-hide="$ctrl.finish > 0" ng-show="$ctrl.finish == 0">
                        Searching
                    </div>
                </td>
            </tr>

                <tr ng-repeat="product in $ctrl.productList | orderBy:'name' track by $index ">
                    <td>
                        <img
                            ng-src="{{ $ctrl.obtenerRutaImagen(product.photo) }}"
                            width="60"
                            height="60">
                    </td>
                    <td>
                        <div>{{ product.name }}</div>

                        <div>{{ product.price | EurPrice }}</div>

                        <div>{{ product.state | uppercase }}</div>

                        <div>{{ $ctrl.datos.dist }}</div>

                        <a ng-link="['DetailProduct', { id: product.id }]">Details</a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
