<div class="row">
    <!-- Enlace para volver a la vista anterior -->
    <div class="one column">
        <a href="javascript:history.back();">Atrás</a>
    </div>

</div>
<div class="row">
    <div class="twelve columns">

       <!-- Lista de recetas -->
        <table class="u-full-width">
            <tbody>
            <tr>
                <td>
                    <img
                            ng-src="{{ ::$ctrl.obtenerRutaImagen($ctrl.productList.photo) }}"
                            width="400"
                            height="400">
                </td>
                <td>
                    <!-- Podemos utilizar este ngClick para mostrar u ocultar
                         los datos de los ingredientes -->
                    <!-- ng-click="receta.mostrar = !receta.mostrar" -->
                    <div>{{ ::$ctrl.productList.name }}</div>

                    <div>{{ ::$ctrl.productList.description }}</div>

                    <div>{{ ::$ctrl.productList.price }}</div>

                    <div>{{ ::$ctrl.productList.category.name }}</div>

                    <div >{{ ::$ctrl.productList.published_date | date }}</div>

                    <div>{{ ::$ctrl.productList.state }}</div>

                    <div>{{ ::$ctrl.productList.seller.nick }}</div>

                    <div>{{ ::$ctrl.productList.seller.id }}</div>

                    <img
                            ng-src="{{ ::$ctrl.obtenerRutaImagen($ctrl.productList.seller.avatar) }}"
                            width="50"
                            height="50">


                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
