<div class="container">

    <!-- Head of the Application -->
    <div class="row">
        <div class="twelve columns">
            <header>
                <h1>WhataPop</h1>
            </header>
        </div>
    </div>

    <!-- Nav Bar -->
    <div class="row">
        <div class="twelve columns">
            <nav class="barra-navegacion">
                <ul>
                    <li>
                        <!-- 'ngLink' establish the route for linking -->
                        <a ng-link="['MyProducts']">SearchProducts</a>
                    </li>
                   <!-- <li>
                       TODO AddProducts
                        <a ng-link="['NewProduct']">Add Product</a>
                    </li>
                    -->
                </ul>
            </nav>
        </div>
    </div>


    <!-- Dynamic Zone -->
    <ng-outlet></ng-outlet>

</div>