<div>

    <!-- Product Name -->
    <label for="product-name">
        Name the product for searching
    </label>
    <input
            id="product-name"
            type="text"
            placeholder="Name Search"
            class="u-full-width"
            ng-model="datos.name"
            required>

    <!-- Product Price -->
    <label for="product-min-price">
        Price
    </label>

    <label for="product-min-price">
        Min.
    </label>
    <input
            id="product-min-price"
            type="text"
            string-to-number
            placeholder="Min. Price"
            class="u-full-width"
            ng-model="datos.minprice"
            required>

    <label for="product-max-price">
        Max.
    </label>
    <input
            id="product-max-price"
            type="text"
            string-to-number
            placeholder="Max. Price"
            class="u-full-width"
            ng-model="datos.maxprice"
            required>

    <!-- Product Category -->
    <label for="category">Category</label>
        <div id="category">
        <label>Videjuegos
            <input type="checkbox" ng-model="datos.cat1"
                   ng-true-value="'Videojuegos'" ng-false-value="'NO'">
        </label>
        <label>Películas
            <input type="checkbox" ng-model="datos.cat2"
                   ng-true-value="'Peliculas'" ng-false-value="'NO'">
        </label>
        <label>Libros
            <input type="checkbox" ng-model="datos.cat3"
                   ng-true-value="'Libros'" ng-false-value="'NO'">
        </label>
        <label>Todas
            <input type="checkbox" ng-model="datos.cat4"
                   ng-true-value="'Todas'" ng-false-value="'NO'">
        </label>
    </div>
    <!-- Product Publish Date -->
    <label for="publish_date">Publish Date</label>
    <div id="publish_date">
        <label>
            <input type="radio" ng-model="datos.date" value="1">
            Ultimas 24 horas
        </label>
        <label>
            <input type="radio" ng-model="datos.date" value="2">
            Ultimos 7 dias
        </label>
        <label>
            <input type="radio" ng-model="datos.date" value="3">
            Ultimos 30 dias
        </label>
        <label>
            <input type="radio" ng-model="datos.date" value="4" ng-checked="true">
            Cualquier Fecha
        </label>

    </div>

    <!-- Product Distance -->
    <label for="distance">Distance</label>
    <div id="distance">
        <label>
            <input type="radio" ng-model="datos.dist" value="5">
            Cerca (< 5 km)
        </label>
        <label>
            <input type="radio" ng-model="datos.dist" value="10">
            Media (< 10 km)
        </label>
        <label>
            <input type="radio" ng-model="datos.dist" value="100" ng-checked="true">
            Lejos (< 100 km)
        </label>
    </div>

    <!-- Product State -->
    <label for="state">Product State</label>
    <div id="state">
        <label>
            <input type="radio" ng-model="datos.state" value="0">
            Selling
        </label>
        <label>
            <input type="radio" ng-model="datos.state" value="1">
            Sold
        </label>
    </div>


    <!-- Button for search one product -->
    <button
        ng-click="searchData()"
        class="u-full-width button-primary">
        Search
    </button>

    <!-- Button for reset filter -->
    <button
        ng-click="defaultSearch()"
        class="u-full-width button">
        Reset Filter
    </button>

</div>