<div>

    <!-- Product Name -->
    <label for="product-name">
        Nombre del Producto a buscar
    </label>
    <input
            id="product-name"
            type="text"
            placeholder="Artículo buscado"
            class="u-full-width"
            ng-model="datos.name"
            required>

    <!-- Product Price -->
    <label for="product-min-price">
        Price
    </label>

    <label for="product-min-price">
        Min.
    </label>
    <input
            id="product-min-price"
            type="text"
            string-to-number
            placeholder="Precio minimo"
            class="u-full-width"
            ng-model="datos.minprice"
            required>

    <label for="product-max-price">
        Max.
    </label>
    <input
            id="product-max-price"
            type="text"
            string-to-number
            placeholder="Precio maximo"
            class="u-full-width"
            ng-model="datos.maxprice"
            required>

    <!-- Product Category -->
    <label>Videjuegos:
        <input type="checkbox" ng-model="datos.cat1"
               ng-true-value="'YES'" ng-false-value="'NO'">
    </label>
    <label>Películas:
        <input type="checkbox" ng-model="datos.cat2"
               ng-true-value="'YES'" ng-false-value="'NO'">
    </label>
    <label>Libros:
        <input type="checkbox" ng-model="datos.cat3"
               ng-true-value="'YES'" ng-false-value="'NO'">
    </label>
    <!-- <tt>value1 = {{checkboxModel.value1}}</tt><br/> -->
    <!--<tt>value2 = {{checkboxModel.value2}}</tt><br/> -->

    <!-- Product Publish Date -->
    <label>
        <input type="radio" ng-model="datos.date" value="1">
        Ultimas 24 horas
    </label>
    <label>
        <input type="radio" ng-model="datos.date" value="2">
        Ultimos 7 dias
    </label>
    <label>
        <input type="radio" ng-model="datos.date" value="3">
        Ultimos 30 dias
    </label>
    <label>
        <input type="radio" ng-model="datos.date" value="4">
        Cualquier Fecha
    </label>

    <!-- Product Distance -->
    <label>
        <input type="radio" ng-model="datos.dist" value="1">
        Cerca
    </label>
    <label>
        <input type="radio" ng-model="datos.dist" value="2">
        Media
    </label>
    <label>
        <input type="radio" ng-model="datos.dist" value="3">
        Lejos
    </label>

    <!-- Button for search one product -->
    <button
        ng-click="searchData()"
        class="u-full-width button-primary">
        Search
    </button>

    <!-- Button for reset filter -->
    <button
        ng-click="defaultSearch()"
        class="u-full-width button">
        Reset Filter
    </button>

</div>